*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: white;
}
body{
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}
.container{
  min-width: 1130px;
  margin: 0 auto;
  padding: 0 10px;
}
.header{
  background-image: url(../images/gradient.png), url(../images/main-background.jpg);
  padding: 30px 0 182px 0;
}
.header_logo img{
  margin-bottom: 125px;
}
.sub_title{
  font-size: 18px;
  line-height: 111%;
  margin-bottom: 5px;
}
.title{
  font-size: 64px;
  line-height: 117%;
  margin-bottom: 10px;
}
.text{
font-size: 24px;
line-height: 125%;
text-transform: lowercase;
font-weight: 400;
margin-bottom: 30px;
}
.button{
  display: block;
  font-size: 16px;
  line-height: 125%;
  background-color: #E11B19;
  width: 287px;
  height: 60px;
  border-radius: 60;
}